/* Existing styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Tabs-button, .Tabs-input {
  cursor: pointer;
  color: white;
  padding: 10px 100px;
  background-color: rgba(220, 220, 220, 0);
  border-radius: 6px;
  border: none;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transition: background-color 0.2s, transform 0.2s;
  margin: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Tabs-button-icon {
  transition: transform 0.2s;
}

.Tabs-input {
  padding: 10px 5px;
  margin: 0 5px;
  text-align: center;
  width: auto;
}

.Tabs-input:focus::placeholder {
  color: transparent;
}

.Tabs-button:hover, .Tabs-input:hover {
  background-color: rgba(220, 220, 220, 0.1);
  animation: bounce-in 0.22s forwards;
}

.Tabs-button:active, .Tabs-input:active {
  background-color: rgba(220, 220, 220, 0.2);
}

.Tabs-button:not(:hover), .Tabs-input:not(:hover) {
  animation: bounce-out 0.22s forwards;
}

.Tabs-input:focus {
  outline: none;
}

@keyframes bounce-in {
  0%, 100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.22);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes bounce-out {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.Stopwatch {
  margin-bottom: 20px;
}

.Stopwatch-buttons {
  display: flex;
  justify-content: center;
}

.Input-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icon-button {
  padding: 5px;
}
